<style>
    #wpefc_transaction, #wpbody-content table{
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #aaa;
        border-radius: 8px;
        width: 100% !important;
        background: transparent;
    }
    #wpbody-content table th{
        background: #ffffff55;
    }
    #wpbody-content hr{
        border: none;
        border-bottom: 1px solid #ffffff44;
    }
    #wpbody-content table thead th{
        background: #ffffff55;
    }
    #wpbody-content table tbody th{
        background: transparent;
    }

    #wpefc_transaction td{
        padding: 10px 5px;
    }
    #wpefc_transaction tbody tr{
        border-bottom: 1px solid #aaa;
        transition: 0.3s;
    }
    #wpbody-content table tbody td span{
        font-size: 13px !important;
    }
    #wpbody-content table tbody th strong{
        font-size: 14px !important;
    }
    #sfb_summaryTotalTr{
        background: #ffffff33;
    }
    #wpefc_transaction tbody tr:hover{
        background: #ffffff21;
    }
    #wpefc_transaction thead{
        line-height: 30px;
        font-weight: bold;
        border-bottom: 2px solid #888;
        background: #ddd;
    }
    .wpefc_transaction_btn{
        padding: 7px 15px;
        text-decoration: none;
        background: #ffffff40;
        border-radius: 3px;
        margin-left: 20px;
        transition: .3s;
        border: 1px solid #ffffff00;
    }
    .wpefc_transaction_btn:hover{
        background: #ffffff00;
        border: 1px solid #aaa;
    }
    #wpbody-content>div{
        padding: 5% 3%;
        padding-bottom: 0;
    }

    .update-nag,.notice,.media-upload-form .notice, .media-upload-form div.error, .wrap .notice, .wrap div.error, .wrap div.updated{display: none !important;}
</style>